<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main>
      {{>header}}
      <p>This site was created by Yves Matta, it uses data from maxbox.com and darksky.net</p>
      <img class="portrait" src="/img/pic.png" />
    </main>
    {{>footer}}
  </body>
</html>